[submodule "nucleo-f091-64/murasaki"]
	path = nucleo-f091-64/murasaki
	url = https://github.com/suikan4github/murasaki
[submodule "nucleo-f446-64/murasaki"]
	path = nucleo-f446-64/murasaki
	url = https://github.com/suikan4github/murasaki.git
